<% provide(:title, @taxon.name )%>
<%= render 'shared/lightsection_pageheader', name: @taxon.name, origin_page: "categories" %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'product_categories', taxonomies: @taxonomies %>
        <%= render 'searched_by_color' %>
        <%= render 'searched_by_size' %>
      </div>
      <%= render 'product_images', products: @products %>
    </div>
  </div>
</section>
<%= render 'partner_logo' %>
